<section id="presenters">
	<aside>
		<h1>Presenters</h1>
	</aside>
	<div class="main">
		<ul class="presenters">
			<li>
				<img src="images/presenters/brian-singer.jpg" alt="Brian Singer">
				<h2>Brian Singer</h2>
				<h3>Design Manager, Pinterest</h3>
				<a href="http://www.iamsomeguy.com/">iamsomeguy.com</a>
			</li>
			<li>
				<img src="images/presenters/timothy-goodman.jpg" alt="Timothy Goodman">
				<h2>Timothy Goodman</h2>
				<h3>Designer, Illustrator, Art Director</h3>
				<a href="http://tgoodman.com/">tgoodman.com</a>
			</li>
			<li>
				<img src="images/presenters/oen-hammonds.jpg" alt="Oen Hammonds">
				<h2>Oen Hammonds</h2>
				<h3>Advisory Designer &amp; Lead Facilitator, IBM Design</h3>
				<a href="http://www.visualnotepad.org/">visualnotepad.org</a>
			</li>
			<li>
				<img src="images/presenters/lesley-amann.jpg" alt="Lesley Amann">
				<h2>Lesley Amann</h2>
				<h3>Partner, BLDG</h3>
				<a href="http://bldgrefuge.com/">bldgrefuge.com</a>
			</li>
			<li>
				<img src="images/presenters/jay-becker.jpg" alt="Jay Becker">
				<h2>Jay Becker</h2>
				<h3>Partner, BLDG</h3>
				<a href="http://bldgrefuge.com/">bldgrefuge.com</a>
			</li>
			<li>
				<img src="images/presenters/tim-metzner.jpg" alt="Tim Metzner">
				<h2>Tim Metzner</h2>
				<h3>Co-Founder &amp; Managing Director, Differential</h3>
				<a href="http://differential.com/">differential.com</a>
			</li>
			<li>
				<img src="images/presenters/chris-ritter.jpg" alt="Chris Ritter">
				<h2>Chris Ritter</h2>
				<h3>Partner, BLDG</h3>
				<a href="http://bldgrefuge.com/">bldgrefuge.com</a>
			</li>
			<li>
				<img src="images/presenters/ann-thompson.jpg" alt="Ann Thompson">
				<h2>Ann Thompson</h2>
				<h3>Co-Founder, The Garage Group</h3>
				<a href="http://www.thegaragegroup.com/">thegaragegroup.com</a>
			</li>
			<li class="morepresenters"><h2>More Presenters Coming Soon!</h2></li>
		</ul>
	</div>
</section>