<section id="tickets">
	<aside>
		<h1>tickets</h1>
	</aside>
	<div class="main">
		<p>Events will be individually ticketed online and at the door, provided there are still seats available. If an event is free to attend, it is still important to RSVP, as some events have a maximum number of seats and your RSVP guarantees you will recieve one.</p>

		<div class="event" id="timothygoodman">
			<h3>Thurs, Sept 10</h3>
			<h2>Teaser: Timothy Goodman - Getting Away With Shit</h2>
			<h4><a href="https://www.google.com/maps/place/The+Woodward+Theater/@39.1113598,-84.5120376,15z/data=!4m2!3m1!1s0x0:0xb9a66413e49c5a3a?sa=X&ved=0CJEBEPwSMApqFQoTCK_6_-aBjscCFUEdPgodRs8ANA">Woodward Theater</a> | 6pm - 9:30pm</h4>
			<p>Timothy Goodman talks about 'Getting Away With Shit' on Thursday, September 10th The Woodward Theater. After his talk, we're hosting a Meet &amp; Greet / Happy Hour / Book Signing across the street at MOTR.</p>
			<p>Like many designers, Timothy Goodman is held down by rules and parameters that constantly stifle him. So how does he get his own sensibilities into his work? A couple of years ago, he decided to redirect his design career and push himself into new, scary, and unexpected territory through drawing, writing, and personal projects. He rather approach graphic design as a practice, not as a profession. Join Timothy has he reveals his way of getting away with shit.</p>
			<p>Timothy Goodman is a designer, illustrator, and art director based in New York City. His clients include Airbnb, Google, Ford, J.Crew, MoMA, Target, The New Yorker, and The New York Times. Previously, Timothy worked in-house at Apple Inc., where he helped integrate Apple’s visual language across third party environments. He has received awards from most major design & illustration publications including The Art Directors Young Guns, Print magazine's New Visual Artist, and GDUSA’s “People to Watch.” Timothy graduated from the School of Visual Arts in NYC, where he now teaches. In conjunction with his client work, he spends a significant amount of time on personal projects and writing, including the blog and book 40 Days of Dating, that garnered 10 million unique visitors, and whose film rights have been optioned by Warner Bros., and his Instagram writing series “Memories of a Girl I Never Knew” which was exhibited at the concept store Colette in Paris, France. He frequently lectures about his work.</p>
			<p><a href="http://cincinnati.aiga.org/event/timothy-goodman-getting-away-with-shit/" class="button">Buy My Ticket</a></p>
		</div>

		<div class="event" id="agencycrawl">
			<h3>Thurs, Sept 17</h3>
			<h2>Teaser: Agency Crawl</h2>
			<h4>Downtown Cincinnati <a href="https://www.google.com/maps/d/edit?mid=zTm4fvUBaRRk.kUdQt1cDBWSc&usp=sharing">Map of the crawl</a> | 6pm</h4>
			<p>Get on the crawl! This free warm-up event for Cincinnati Design Week is your chance to get a behind the scenes tour of the design agencies in downtown Cincinnati and meet some of the amazing designers that work for them. The participating studios and agencies are excited to welcome you so be prepared for some fun and a few adult beverages. Wear comfortable shoes, we will be walking.</p>
			<p>Stops on the crawl:</p>
			<ul>
				<li>POSSIBLE</li>
				<li>Gaslight</li>
				<li>Spicefire</li>
			</ul>
			<p>Though this is a free event, spots are limited. Be sure to RSVP to secure your spot!</p>
			<p>About <a href="https://www.possible.com/">POSSIBLE</a>:<br>POSSIBLE is a creative agency that cares about results. With over 25 offices spanning five continents, POSSIBLE boasts some of the best creative minds on the planet. They use the power of this collective intelligence to transform the industry and elevate global brands like Microsoft, Coca-Cola, and the Bill &amp; Melinda Gates foundation. </p>
			<p>About <a href="https://teamgaslight.com/">Gaslight</a>:<br>Gaslight transforms businesses with technology. We design and develop custom software and feature rich websites for small- to medium-sized businesses. These apps help our clients boost profits, innovate faster, radically improve productivity, and launch entirely new businesses. We also lead online and in-person software development training for teams and individuals.</p>
			<p>About <a href="http://www.spicefire.co/">Spicefire</a>:<br>Creative Agencies come in different shapes and sizes. Some are process led, many are identified by the work that they do. At Spicefire, our people-driven culture allows us to live inspired, challenge convention, and serve as a catalyst to ignite what's possible for brands and businesses.  Located in the heart of Over-the-Rhine, the transformative epicenter of Cincinnati, we are a Brand Innovation agency with a passion for solving problems and creating with purpose.  </p>
			<p><a href="https://www.eventbrite.com/e/aiga-agency-crawl-tickets-18159625930" class="button">Save My Spot</a></p>
		</div>

		<div class="event" id="creativemornings">
			<h3>Fri, Sept 25</h3>
			<h2>CreativeMornings</h2>
			<h4>Location TBD | 8:30am</h4>
			<p>CreativeMornings is a free, monthly breakfast lecture series for creative communities. Each event is free, and includes a 20 minute talk, plus coffee!</p>
			<p>More information on speakers coming soon!</p>
			<p><a href="http://creativemornings.com/cities/cin" class="button">Learn More</a></p>
		</div>

		<div class="event" id="productcamp">
			<h3>Sat, Sept 26</h3>
			<h2>ProductCamp Cincinnati</h2>
			<h4><a href="https://www.google.com/maps/place/paycor/@39.1661672,-84.4564456,15z/data=!4m2!3m1!1s0x0:0xdad1477136250cbb?sa=X&sqi=2&ved=0CEMQrwswCGoVChMI6sCrw4eOxwIVyR0-Ch1ANgVF">Paycor HQ</a> | 8:00am</h4>
			<p>ProductCamp Cincinnati is the premiere event for Entrepreneurs, Product Management, Product Marketing and Marketing Professionals as well as Designers, Engineers and Data Scientists who are interested in learning best practices, sharing insights, and networking with top minds in the local product community. </p>
			<p><a href="http://productcampcincinnati.org/" class="button">Save My Spot</a></p>
		</div>

		<div class="event" id="craftbrewment">
			<h3>Mon, Sept 28</h3>
			<h2>The Craft Brewment: The Branding Behind the Beer - Presented by RDG &amp; LemonGrenade</h2>
			<h4><a href="https://www.google.com/maps/place/Longworth+Hall+Design+Center/@39.0956055,-84.5237244,17z/data=!3m1!4b1!4m2!3m1!1s0x8841b6b3b4f4aed1:0x2e7cc7a3a384f1c8">Longworth Hall</a> | 5:30pm - 8:30pm | 21+ only</h4>
			<p>Have you always wondered who the designer was behind your favorite local craft brew? Us too. Enquiring minds wanna know..."Who Designed That?"  Join us for an evening of introductions, discussions, and beer tasting sessions! We will feature a panel of local designers, all whom are currently working on our favorite Cincinnati beer brands. In addition, we will also be hosting a beer tasting before and after the forum, featuring the breweries from the panel. Let's kick-off design week with a hops! </p>
			<p>About <a href="http://ruttledg.com/">RDG</a>:<br>RDG connects all design disciplines to create integrated design experiences – from the digital space to the physical space, we uncover human-centered solutions that drive results through processes and collaboration in a redefined way.</p>
			<p>About <a href="http://lemongrenade.com/">LemonGrenade</a>:<br>At LemonGrenade Creative, we believe amazing graphic design has the power to tell amazing stories. If a picture is worth a thousand words, our design talks volumes.</p>
			<!-- <p><a href="" class="button">Buy My Ticket</a></p> -->
			<h3>Tickets coming soon!</h3>
		</div>

		<div class="event" id="garagegroup">
			<h3>Tue, Sept 29</h3>
			<h2>Iterative Development in Corporate Environments</h2>
			<h4><!-- <a href="">Location</a> -->Location TBD | 12:00pm</h4>
			<p>Practical Approaches to Translate and Adopt Hallmark StartUp Approaches Within Big Corporations for Strategy, Idea, Product and Service Development</p>
			<p>Corporate brands and teams are asking: “How can we be more entrepreneurial?” They want to innovate and grow faster, iterate more effectively, and compete with smaller, more nimble players. We’ll share practical approaches and case studies for translating StartUp approaches within a corporate environment, specifically around MVP development, brand strategy/architecture, idea development and insight discovery. You’ll learn how to take iterative approaches to the next level, the why and how of developing multiple directions and what’s on the horizon for new StartUp inspired approaches.</p>
			<!-- <p><a href="" class="button">Buy My Ticket</a></p> -->
			<h3>Tickets coming soon!</h3>
		</div>

		<!-- <div class="event" id="">
			<h3>Tue, Sept 29</h3>
			<h2>The Pharmacy Co.</h2>
			<h4><a href="">Location</a> | 6:00pm</h4>
			<p>Event information</p>
			<p><a href="" class="button">Buy My Ticket</a></p>
		</div> -->

		<div class="event" id="segd">
			<h3>Wed, Sept 30</h3>
			<h2>SEGD Event</h2>
			<h4>Location TBD | 12:00pm</h4>
			<p>Event information coming soon!</p>
			<p>About SEGD:<br>We are the global, multidisciplinary community of professionals who plan, design, and build experiences that connect people to place.</p>
			<p>We are graphic and information designers, fabricators, architects, exhibition designers, technology integrators, interaction designers, brand strategists, students, wayfinding specialists, teachers, and others who have a hand in shaping content-rich, experiential spaces.</p>
			<!-- <p><a href="" class="button">Buy My Ticket</a></p> -->
			<h3>Tickets coming soon!</h3>
		</div>

		<div class="event" id="aia">
			<h3>Wed, Sept 30</h3>
			<h2>AIA Cincinnati 2×4</h2>
			<h4>Location TBD | 6:00pm</h4>
			<p>The Cincinnati Design Awards program (CDA) has been honoring the best design projects for the built environment by local creative firms for almost 20 years. “2×4” is your chance to see recent award winning work and hear the designers speak about influencing the built world from diverse disciplinary perspectives.</p>
			<p>Four creative firms are each asked to present two projects in 15 minutes—one recent award winner and another of their choosing—that represent the most cutting edge design Cincinnati is producing in architecture, interior design, experiential graphic design, and landscape design.</p>
			<p>The CDA program is a collaboration between AIA (architecture), IIDA &amp; ASID (interiors), SEGD (experiential graphics), and ASLA (landscape).</p>
			<!-- <p><a href="" class="button">Buy My Ticket</a></p> -->
			<h3>Tickets coming soon!</h3>
		</div>

		<div class="event" id="techleaders">
			<h3>Thu, Oct 1</h3>
			<h2>Tech Leaders: Presented by WomanUp + Girl Develop It </h2>
			<h4><a href="https://www.google.com/maps/place/Rhinegeist+Brewery/@39.1172004,-84.5203258,17z/data=!3m1!4b1!4m2!3m1!1s0x8841b3f9acd61b67:0x402ea6be65897064">Rhinegeist</a> | 8:30am</h4>
			<p>Join us for a panel discussion with five leaders in tech who are paving the way in their field. We'll talk about what it takes to be a leader in the always changing creative community, how they got their start, and and learn more about the digital side of our industry. Our panel will include professionals in web design and development, social media, and more. Come early to network, enjoy coffee and light breakfast at 8:30. The panel discussion will start promptly at 9:00 am, with time for questions from attendees. </p>
			<p>About <a href="http://cincinnati.aiga.org/womanup/">WomanUp</a>:<br>AIGA Cincinnati is ready to increase diversity in our creative community by championing female talent. We’re ready to empower the professional development of female leaders. We’re ready to build a creative network that supports gender equality. We’re ready to WOMAN UP!</p>
			<p>About <a href="https://www.girldevelopit.com/chapters/cincinnati">Girl Develop It</a>:<br>Girl Develop It Cincinnati exists to provide affordable, judgement-free classes for women looking to advance their knowledge of technology and web development, as well as create a community of female techies in the Tri-State area.</p>
			<!-- <p><a href="" class="button">Buy My Ticket</a></p> -->
			<h3>Tickets coming soon!</h3>
		</div>

		<div class="event" id="adifferentstartupstory">
			<h3>Thurs, Oct 1</h3>
			<h2>A Different(ial) Startup Story</h2>
			<h4><a href="https://www.google.com/maps/place/Differential/@39.10502,-84.51131,15z/data=!4m2!3m1!1s0x0:0x9e8f0da9e27f8c64?sa=X&ved=0CHUQ_BIwDGoVChMIlvTF74yOxwIVhG0-Ch14kQzt">Differential</a> | 12:00pm</h4>
			<p>What started in 2012 as a small group of people with a big idea has evolved into a successful and sought after development studio in downtown Cincinnati. Tim Metzner will give us the low-down on Differential’s life cycle and the importance of doing meaningful work, having core values and creating a high-trust environment.</p>
			<!-- <p><a href="http://www.meetup.com/QCMDrinkup/events/dzkfscytnbcb/" class="button">Buy My Ticket</a></p> -->
			<h3>Tickets coming soon!</h3>
		</div>

		<div class="event" id="drinkup">
			<h3>Thurs, Oct 1</h3>
			<h2>QCMerge Drinkup: Drink &amp; Draw Edition</h2>
			<h4><a href="https://www.google.com/maps/place/Differential/@39.10502,-84.51131,15z/data=!4m2!3m1!1s0x0:0x9e8f0da9e27f8c64">Location</a> | 5:30pm</h4>
			<p>The QCMDrinkup is open to all individuals who love to talk about technology, digital design, and digital marketing - and, of course, drinking!</p>
			<!-- <p><a href="http://www.meetup.com/QCMDrinkup/events/dzkfscytnbcb/" class="button">Save My Spot</a></p> -->
			<h3>Registration opens soon!</h3>
		</div>

		<div class="event" id="oenhammonds">
			<h3>Thurs, Oct 1</h3>
			<h2>Oen Hammonds: People + Practice + Places = Outcomes</h2>
			<h4><a href="http://parking.nku.edu/visit.html">NKU (Votruba Student Union)</a> | 6:30pm - 9:00pm</h4>
			<p>Oen Michael Hammonds, a designer, mentor and lead facilitator at IBM Design, has designed across the gamut—advertising, graphic, interactive and environmental. Oen's previous work with diverse clients in the consumer, business and technology industries demonstrate his ability to jump in and solve tough challenges. At IBM Design, Oen works with the award-winning Education + Activation team to develop education programs and experiences for executives, software development teams. In this role, Oen facilitates workshops that activate participants to effectively apply IBM Design Thinking to build iconic products with human centered experiences.</p>
			<p>Outside of his 9-to-5, Oen teaches design as an adjunct instructor and has shared his design experience at a variety of colleges and universities throughout the country. He is a passionate mentor to early and mid-career design practitioners and enjoys sharing his stories of failures and successes with those who are willing to listen to his Southern drawl.</p>
			<!-- <p><a href="" class="button">Save My Spot</a></p> -->
			<h3>Tickets coming soon!</h3>
		</div>

		<div class="event" id="bldg">
			<h3>Fri, Oct 2</h3>
			<h2>BLDG: Behind the Antlers</h2>
			<h4><a href="https://www.google.com/maps/place/The+BLDG/@39.0838751,-84.5112206,15z/data=!4m2!3m1!1s0x0:0x65baa2726bf0e1f9">BLDG</a> | 8:30am</h4>
			<p>The creative Kentuckians at BLDG invite you into their gallery to give a full look into what makes them work. Less of a presentation and more of an experience, this exposé explains how their Covington locale, their connection with the urban contemporary art world, and their branding prowess work together to create inspirational, visionary and uncommon design solutions for clients.</p>
			<!-- <p><a href="" class="button">Buy My Ticket</a></p> -->
			<h3>Tickets coming soon!</h3>
		</div>

		<div class="event" id="spicefire">
			<h3>Fri, Oct 2</h3>
			<h2>Designing the Future: Ignite What’s Possible</h2>
			<h4><a href="">Spicefire</a> | 12:00pm</h4>
			<p>A truly innovative brand creates unforgettable experiences. No matter the touch point, they obsessively strive to challenge convention and find new ways to connect, provoke, soothe, or simply empathize. Their experiences bleed outside the boundaries of the brand itself and seamlessly into your life. These are the brands we remember.</p>
			<p>SpiceFire is a brand innovation agency located in the transformative epicenter of Cincinnati - OTR. Our people-driven culture allows us to live inspired, challenge convention, and serve as a catalyst to ignite what's possible. We continuously feed off of the energy and vibrancy of the community around us and look for ways to be influenced by our surroundings. We invite you in to help us create a memorable experience of discovery, inspiration, and connection.</p>
			<!-- <p><a href="" class="button">Buy My Ticket</a></p> -->
			<h3>Tickets coming soon!</h3>
		</div>

		<div class="event" id="briansinger">
			<h3>Fri, Oct 2</h3>
			<h2>Brian Singer: How to Get Rich in Design</h2>
			<h4>Location TBD | 6:00pm</h4>
			<p>Brian is rich. Filthy rich. All because of design. In this talk, he’ll share the path he took, the secret to success, and provide detailed, step­by­step instructions on how you too can get rich in design. </p>
			<p>About Brian Singer:</p>
			<p>Brian Singer is a San Francisco-based artist and designer. He is currently the Design Manager for Brand Creative at <a href="https://www.pinterest.com/">Pinterest</a>. Prior to joining Pinterest, Brian managed design teams at <a href="https://www.facebook.com/">Facebook</a>, and ran his own studio working with such companies as <a href="http://www.apple.com/">Apple</a>, <a href="http://www.adidas.com/">Adidas</a> and <a href="http://www.chroniclebooks.com/">Chronicle Books</a>. </p>
			<p>Brian is best known for his provocative social projects, such as <a href="http://www.twitspotting.com/">TWIT Spotting (Texting While In Traffic)</a>, which attracted international news coverage (including The Today Show, Time, and Gizmodo) as an unconventional approach to curbing distracted driving. He is also the creator of <a href="http://www.1000journals.com/">The 1000 Journals Project</a>, a global art experiment that resulted in a book, a feature length documentary, and was exhibited at both the San Francisco Museum of Modern Art and the Skirball Cultural Center in Los Angeles. </p>
			<p>In 2013, Brian joined the national board of AIGA, the professional association for design. Prior to that, he was president of the San Francisco Chapter of AIGA and served on the advisory board for the San Francisco Arts Commission Gallery. </p>
			<p><a href="http://cincinnati.aiga.org/event/brian-singer-how-to-get-rich-in-design/" class="button">Buy My Ticket</a></p>
		</div>

		<div class="event" id="afterparty">
			<h3>Fri, Oct 2</h3>
			<h2>Design Week After Party</h2>
			<h4>Location TBD | 7:30pm</h4>
			<p>Event information coming soon!</p>
			<!-- <p><a href="" class="button">Buy My Ticket</a></p> -->
			<h3>Tickets coming soon!</h3>
		</div>

	</div>
</section>