---
title: Cincinnati Design Week 2015 | September 28 - October 2 | Presented by AIGA Cincinnati and AGAR
---

<section class="intro">
	<img src="images/cincy_design_week_2015.jpg" alt="">
	<p class="leadin">Home to some of the world's best design agencies and schools, Cincinnati has placed itself in the forefront of global design. The wealth of resources and talent is unparalleled in the United States. Cincinnati Design Week is a multiple-day event made up of workshops, panel discussions, fundraisers and, of course, great parties.</p>
</section>

<section id="presenters">
	<aside>
		<h1>Presenters</h1>
	</aside>
	<div class="main">
		<ul class="presenters">
			<li>
				<img src="images/presenters/brian-singer.jpg" alt="">
				<h2>Brian Singer</h2>
				<h3>Design Director, Pinterest</h3>
				<a href="http://www.iamsomeguy.com/">iamsomeguy.com</a>
			</li>
			<li>
				<img src="images/presenters/brian-singer.jpg" alt="">
				<h2>Brian Singer</h2>
				<h3>Design Director, Pinterest</h3>
				<a href="http://www.iamsomeguy.com/">iamsomeguy.com</a>
			</li>
			<li>
				<img src="images/presenters/brian-singer.jpg" alt="">
				<h2>Brian Singer</h2>
				<h3>Design Director, Pinterest</h3>
				<a href="http://www.iamsomeguy.com/">iamsomeguy.com</a>
			</li>
		</ul>
	</div>
</section>

<section id="schedule">
	<aside>
		<h1>Schedule</h1>
	</aside>
	<div class="main">
		<table class="schedule">
			<thead>
				<tr>
					<th></th>
					<th>Morning</th>
					<th>Lunch</th>
					<th>Evening</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Thurs<br>Sept 10</td>
					<td></td>
					<td></td>
					<td><a href="#timothygoodman">Teaser: Timothy Goodman - Getting Away With Shit</a><a href="" class="ticket">Buy My Ticket</a></td>
				</tr>
				<tr>
					<td>Thurs<br>Sept 17</td>
					<td></td>
					<td></td>
					<td><a href="#agencycrawl">Teaser: Agency Crawl</a><a href="" class="ticket">Save My Spot</a></td>
				</tr>
				<tr>
					<td>Fri<br>Sept 25</td>
					<td><a href="">CreativeMornings</a><a href="" class="ticket">Save My Spot</a></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Sat<br>Sept 26</td>
					<td colspan="3"><a href="#productcamp">ProductCamp</a><a href="http://productcampcincinnati.org/" class="ticket">Save My Spot</a></td>
				</tr>
				<tr>
					<td>Mon<br>Sept 28</td>
					<td></td>
					<td></td>
					<td><a href="">RDG</a><a href="" class="ticket">Buy My Ticket</a></td>
				</tr>
				<tr>
					<td>Tue<br>Sept 29</td>
					<td></td>
					<td><a href="">Garage Group</a><a href="" class="ticket">Buy My Ticket</a></td>
					<td><a href="">The Pharmacy Co.</a><a href="" class="ticket">Buy My Ticket</a></td>
				</tr>
				<tr>
					<td>Wed<br>Sept 30</td>
					<td></td>
					<td><a href="">SEGD</a><a href="" class="ticket">Buy My Ticket</a></td>
					<td><a href="">AIA/AIGA &amp; AGAR</a><a href="" class="ticket">Save My Spot</a></td>
				</tr>
				<tr>
					<td>Thu<br>Oct 1</td>
					<td><a href="#techleaders">Tech Leaders: Presented by WomanUp + Girl Develop It</a><a href="" class="ticket">Buy My Ticket</a></td>
					<td><a href="#adifferentstartupstory">A Different(ial) Startup Story</a><a href="" class="ticket">Buy My Ticket</a></td>
					<td><a href="#qcmerge">QCMerge Drinkup: Drink &amp; Draw Edition</a><a href="http://www.meetup.com/QCMDrinkup/events/dzkfscytnbcb/" class="ticket">Save My Spot</a></td>
				</tr>
				<tr>
					<td>Fri<br>Oct 2</td>
					<td><a href="">BLDG</a><a href="" class="ticket">Buy My Ticket</a></td>
					<td><a href="">Spice Fire</a><a href="" class="ticket">Buy My Ticket</a></td>
					<td><a href="#briansinger">Brian Singer: How to Get Rich in Design</a><a href="" class="ticket">Buy My Ticket</a><br><a href="#">Social Event</a><a href="" class="ticket">Buy My Ticket</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>

<section id="tickets">
	<aside>
		<h1>tickets</h1>
	</aside>
	<div class="main">
		<p>Events will be individually ticketed online and at the door, provided there are still seats available. If an event is free to attend, it is still important to RSVP, as some events have a maximum number of seats and your RSVP guarantees you will recieve one.</p>

		<div class="event" id="timothygoodman">
			<h3>Thurs, Sept 10</h3>
			<h2>Teaser: Timothy Goodman - Getting Away With Shit</h2>
			<h4><a href="https://www.google.com/maps/place/The+Woodward+Theater/@39.1113598,-84.5120376,15z/data=!4m2!3m1!1s0x0:0xb9a66413e49c5a3a?sa=X&ved=0CJEBEPwSMApqFQoTCK_6_-aBjscCFUEdPgodRs8ANA">Woodward Theater</a> | 6pm</h4>
			<p>Timothy Goodman talks about 'Getting Away With Shit' on Thursday, September 10th The Woodward Theater. After his talk, we're hosting a Meet &amp; Greet / Happy Hour / Book Signing across the street at MOTR.</p>
			<p>Timothy Goodman is a designer, illustrator &amp; art director based in New York City. He was recently part of the social experiment fortydaysofdating.com with Jessica Walsh. His clients include Airbnb, Google, Ford, J.Crew, Target, The New Yorker, and The New York Times. Previously, Timothy worked in-house at Apple Inc. where he helped integrate Apple’s visual language, domestically and internationally. He has received awards from most major design &amp; illustration publications, including the Art Directors Club Young Guns award, GDUSA’s “People To Watch” and Print magazine’s “New Visual Artist.” Timothy began his career as a book jacket designer at Simon &amp; Schuster, and he graduated from the School of Visual Arts in NYC, where he now teaches. In conjunction with his client work, he spends a significant amount of time on personal projects and writing. </p>
			<p><a href="#" class="button">Buy My Ticket</a></p>
		</div>

		<div class="event" id="agencycrawl">
			<h3>Thurs, Sept 17</h3>
			<h2>Teaser: Agency Crawl</h2>
			<h4>Downtown Cincinnati <a href="">Map of the crawl</a> | 6pm</h4>
			<p>Get on the crawl! This free warm-up event for Cincinnati Design Week is your chance to get a behind the scenes tour of the design agencies in downtown Cincinnati and meet some of the amazing designers that work for them.</p>
			<p>Stops on the crawl:</p>
			<ul>
				<li><a href="">POSSIBLE</a></li>
				<li><a href="">Gaslight</a></li>
				<li><a href="">SpiceFire</a></li>
				<li><a href=""></a></li>
			</ul>
			<p><a href="#" class="button">Save My Spot</a></p>
		</div>

		<div class="event" id="creativemornings">
			<h3>Fri, Sept 25</h3>
			<h2>CreativeMornings</h2>
			<h4><a href="">Map of the crawl</a> | 8:30pm</h4>
			<p>CreativeMornings is a free, monthly breakfast lecture series for creative communities. Each event is free, and includes a 20 minute talk, plus coffee!</p>
			<p>More information on speakers coming soon!</p>
			<p><a href="http://creativemornings.com/cities/cin" class="button">Save My Spot</a></p>
		</div>

		<div class="event" id="productcamp">
			<h3>Sat, Sept 26</h3>
			<h2>ProductCamp Cincinnati</h2>
			<h4><a href="https://www.google.com/maps/place/paycor/@39.1661672,-84.4564456,15z/data=!4m2!3m1!1s0x0:0xdad1477136250cbb?sa=X&sqi=2&ved=0CEMQrwswCGoVChMI6sCrw4eOxwIVyR0-Ch1ANgVF">Paycor HQ</a> | 8:00am</h4>
			<p>ProductCamp Cincinnati is the premiere event for Entrepreneurs, Product Management, Product Marketing and Marketing Professionals as well as Designers, Engineers and Data Scientists who are interested in learning best practices, sharing insights, and networking with top minds in the local product community. </p>
			<p><a href="http://productcampcincinnati.org/" class="button">Save My Spot</a></p>
		</div>

		<div class="event" id="">
			<h3>Mon, Sept 28</h3>
			<h2>RDG</h2>
			<h4><a href="https://www.google.com/maps/place/Longworth+Hall+Design+Center/@39.0956055,-84.5237244,17z/data=!3m1!4b1!4m2!3m1!1s0x8841b6b3b4f4aed1:0x2e7cc7a3a384f1c8">Longworth Hall</a> | 6:00pm</h4>
			<p><a href="" class="button">Buy My Ticket</a></p>
		</div>

		<div class="event" id="">
			<h3>Tue, Sept 29</h3>
			<h2>Garage Group</h2>
			<h4><a href="">Location</a> | 12:00am</h4>
			<p>Event information</p>
			<p><a href="" class="button">Buy My Ticket</a></p>
		</div>

		<div class="event" id="">
			<h3>Tue, Sept 29</h3>
			<h2>The Pharmacy Co.</h2>
			<h4><a href="">Location</a> | 6:00pm</h4>
			<p>Event information</p>
			<p><a href="" class="button">Buy My Ticket</a></p>
		</div>

		<div class="event" id="">
			<h3>Wed, Sept 30</h3>
			<h2>SEGD</h2>
			<h4><a href="">Location</a> | 12:00pm</h4>
			<p>Event information</p>
			<p><a href="" class="button">Buy My Ticket</a></p>
		</div>

		<div class="event" id="">
			<h3>Wed, Sept 30</h3>
			<h2>AIA</h2>
			<h4><a href="">Location</a> | 6:00pm</h4>
			<p>Event information</p>
			<p><a href="" class="button">Buy My Ticket</a></p>
		</div>

		<div class="event" id="techleaders">
			<h3>Thu, Oct 1</h3>
			<h2>Tech Leaders: Presented by WomanUp + Girl Develop It </h2>
			<h4><a href="https://www.google.com/maps/place/Rhinegeist+Brewery/@39.1172004,-84.5203258,17z/data=!3m1!4b1!4m2!3m1!1s0x8841b3f9acd61b67:0x402ea6be65897064">Rhinegeist</a> | 8:30am</h4>
			<p>Join us for a panel discussion with five leaders in tech who are paving the way in their field. We'll talk about what it takes to be a leader in the always changing creative community, how they got their start, and and learn more about the digital side of our industry. Our panel will include professionals in web design and development, social media, and more. Come early to network, enjoy coffee and light breakfast at 8:30. The panel discussion will start promptly at 9:00 am, with time for questions from attendees. </p>
			<p><a href="" class="button">Buy My Ticket</a></p>
		</div>

		<div class="event" id="drinkup">
			<h3>Thurs, Oct 1</h3>
			<h2>A Different(ial) Startup Story</h2>
			<h4><a href="https://www.google.com/maps/place/Differential/@39.10502,-84.51131,15z/data=!4m2!3m1!1s0x0:0x9e8f0da9e27f8c64?sa=X&ved=0CHUQ_BIwDGoVChMIlvTF74yOxwIVhG0-Ch14kQzt">Differential</a> | 12:00pm</h4>
			<p>What started in 2012 as a small group of people with a big idea has evolved into a successful and sought after development studio in downtown Cincinnati. Tim Metzner will give us the low-down on Differential’s life cycle and the importance of doing meaningful work, having core values and creating a high-trust environment.</p>
			<p><a href="http://www.meetup.com/QCMDrinkup/events/dzkfscytnbcb/" class="button">Buy My Ticket</a></p>
		</div>

		<div class="event" id="drinkup">
			<h3>Thurs, Oct 1</h3>
			<h2>QCMerge Drinkup: Drink &amp; Draw Edition</h2>
			<h4><a href="https://www.google.com/maps/place/Differential/@39.10502,-84.51131,15z/data=!4m2!3m1!1s0x0:0x9e8f0da9e27f8c64">Location</a> | 5:30pm</h4>
			<p>The QCMDrinkup is open to all individuals who love to talk about technology, digital design, and digital marketing - and, of course, drinking!</p>
			<p><a href="http://www.meetup.com/QCMDrinkup/events/dzkfscytnbcb/" class="button">Save My Spot</a></p>
		</div>

		<div class="event" id="">
			<h3>Fri, Oct 2</h3>
			<h2>BLDG</h2>
			<h4><a href="">Location</a> | 8:30am</h4>
			<p>Event information</p>
			<p><a href="" class="button">Buy My Ticket</a></p>
		</div>

		<div class="event" id="">
			<h3>Fri, Oct 2</h3>
			<h2>SpiceFire</h2>
			<h4><a href="">Location</a> | 12:00pm</h4>
			<p>Event information</p>
			<p><a href="" class="button">Buy My Ticket</a></p>
		</div>

		<div class="event" id="briansinger">
			<h3>Fri, Oct 2</h3>
			<h2>Brian Singer: How to Get Rich in Design</h2>
			<h4><a href="">Location</a> | 12:00pm</h4>
			<p>Brian is rich. Filthy rich. All because of design. In this talk, he’ll share the path he took, the secret to success, and provide detailed, step­by­step instructions on how you too can get rich in design. </p>
			<p>About Brian Singer:</p>
			<p>Brian Singer is a San Francisco-based artist and designer. He is currently the Design Manager for Brand Creative at Pinterest. Prior to joining Pinterest, Brian managed design teams at Facebook, and ran his own studio working with such companies as Apple, Adidas and Chronicle Books. </p>
			<p>Brian is best known for his provocative social projects, such as TWIT Spotting (Texting While In Traffic), which attracted international news coverage (including The Today Show, Time, and Gizmodo) as an unconventional approach to curbing distracted driving. He is also the creator of The 1000 Journals Project, a global art experiment that resulted in a book, a feature length documentary, and was exhibited at both the San Francisco Museum of Modern Art and the Skirball Cultural Center in Los Angeles. </p>
			<p>In 2013, Brian joined the national board of AIGA, the professional association for design. Prior to that, he was president of the San Francisco Chapter of AIGA and served on the advisory board for the San Francisco Arts Commission Gallery. </p>
			<p><a href="" class="button">Buy My Ticket</a></p>
		</div>

	</div>
</section>

<section id="partners">
	<aside>
		<h1>Partners</h1>
	</aside>
	<div class="main">
		<ul class="partners">
			<li><a href=""><img src="images/partners/agar.png" alt=""></a></li>
			<li><a href=""><img src="images/partners/aiga.png" alt=""></a></li>
			<li><a href=""><img src="images/partners/creative-mornings.png" alt=""></a></li>
			<li><a href=""><img src="images/partners/girl-develop-it.png" alt=""></a></li>
			<li><a href=""><img src="images/partners/kind.png" alt=""></a></li>
		</ul>
	</div>
</section>