---
title: Cincinnati Design Week 2015 | September 28 - October 2 | Presented by AIGA Cincinnati and AGAR
---

<section class="intro">
	<img src="images/cincy_design_week_2015.jpg" alt="">
	<p class="leadin">Home to some of the world's best design agencies and schools, Cincinnati has placed itself in the forefront of global design. The wealth of resources and talent is unparalleled in the United States. Cincinnati Design Week is a multiple-day event made up of workshops, panel discussions, fundraisers and, of course, great parties.</p>
</section>

<section id="presenters">
	<aside>
		<h1>Presenters</h1>
	</aside>
	<div class="main">
		<ul class="presenters">
			<li>
				<img src="images/presenters/brian-singer.jpg" alt="">
				<h2>Brian Singer</h2>
				<h3>Design Director, Pinterest</h3>
				<a href="http://www.iamsomeguy.com/">iamsomeguy.com</a>
			</li>
			<li>
				<img src="images/presenters/brian-singer.jpg" alt="">
				<h2>Brian Singer</h2>
				<h3>Design Director, Pinterest</h3>
				<a href="http://www.iamsomeguy.com/">iamsomeguy.com</a>
			</li>
			<li>
				<img src="images/presenters/brian-singer.jpg" alt="">
				<h2>Brian Singer</h2>
				<h3>Design Director, Pinterest</h3>
				<a href="http://www.iamsomeguy.com/">iamsomeguy.com</a>
			</li>
		</ul>
	</div>
</section>

<section id="schedule">
	<aside>
		<h1>Schedule</h1>
	</aside>
	<div class="main">
		<table class="schedule">
			<thead>
				<tr>
					<th></th>
					<th>Morning</th>
					<th>Lunch</th>
					<th>Evening</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Thurs<br>Sept 10</td>
					<td></td>
					<td></td>
					<td><a href="">Teaser: Timothy Goodman Speaks - Getting Away With Shit</a><a href="" class="ticket">Buy My Ticket</a></td>
				</tr>
				<tr>
					<td>Thurs<br>Sept 17</td>
					<td></td>
					<td></td>
					<td><a href="">Teaser: Agency Crawl</a><a href="" class="ticket">Save My Spot</a></td>
				</tr>
				<tr>
					<td>Fri<br>Sept 25</td>
					<td><a href="">CreativeMornings</a><a href="" class="ticket">Save My Spot</a></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>Sat<br>Sept 26</td>
					<td colspan="3"><a href="">ProductCamp</a><a href="" class="ticket">Buy My Ticket</a></td>
				</tr>
				<tr>
					<td>Mon<br>Sept 28</td>
					<td></td>
					<td></td>
					<td><a href="">RDG</a><a href="" class="ticket">Buy My Ticket</a></td>
				</tr>
				<tr>
					<td>Tue<br>Sept 29</td>
					<td></td>
					<td><a href="">Garage Group</a><a href="" class="ticket">Buy My Ticket</a></td>
					<td><a href="">The Pharmacy Co.</a><a href="" class="ticket">Buy My Ticket</a></td>
				</tr>
				<tr>
					<td>Wed<br>Sept 30</td>
					<td></td>
					<td><a href="">SEGD</a><a href="" class="ticket">Buy My Ticket</a></td>
					<td><a href="">AIA/AIGA &amp; AGAR</a><a href="" class="ticket">Save My Spot</a></td>
				</tr>
				<tr>
					<td>Thu<br>Oct 1</td>
					<td><a href="">GDI &amp; AIGA</a><a href="" class="ticket">Buy My Ticket</a></td>
					<td><a href="">Differential</a><a href="" class="ticket">Buy My Ticket</a></td>
					<td><a href="">QCMerge Drink &amp; Draw</a><a href="" class="ticket">Save My Spot</a></td>
				</tr>
				<tr>
					<td>Thu<br>Oct 2</td>
					<td></td>
					<td><a href="">Spice Fire</a><a href="" class="ticket">Buy My Ticket</a></td>
					<td><a href="">Brian Singer &amp; Social Event</a><a href="" class="ticket">Buy My Ticket</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>

<section id="tickets">
	<aside>
		<h1>tickets</h1>
	</aside>
	<div class="main">
		<p>Events will be individually ticketed online and at the door, provided there are still seats available. If an event is free to attend, it is still important to RSVP, as some events have a maximum number of seats and your RSVP guarantees you will recieve one.</p>
		<div class="event">
			<h3>Thurs, Sept 10</h3>
			<h2>Teaser: Timothy Goodman Speaks - Getting Away With Shit</h2>
			<h4><a href="#">Woodward Theater</a> | 6pm</h4>
			<p>Timothy Goodman talks about 'Getting Away With Shit' on Thursday, September 10th The Woodward Theater. After his talk, we're hosting a Meet &amp; Greet / Happy Hour / Book Signing across the street at MOTR.</p>
			<p>Timothy Goodman is a designer, illustrator &amp; art director based in New York City. He was recently part of the social experiment fortydaysofdating.com with Jessica Walsh. His clients include Airbnb, Google, Ford, J.Crew, Target, The New Yorker, and The New York Times. Previously, Timothy worked in-house at Apple Inc. where he helped integrate Apple’s visual language, domestically and internationally. He has received awards from most major design &amp; illustration publications, including the Art Directors Club Young Guns award, GDUSA’s “People To Watch” and Print magazine’s “New Visual Artist.” Timothy began his career as a book jacket designer at Simon &amp; Schuster, and he graduated from the School of Visual Arts in NYC, where he now teaches. In conjunction with his client work, he spends a significant amount of time on personal projects and writing. </p>
			<p><a href="#" class="button">Buy My Ticket</a></p>
		</div>
	</div>
</section>

<section id="partners">
	<aside>
		<h1>Partners</h1>
	</aside>
	<div class="main">
		<ul class="partners">
			<li><a href=""><img src="images/partners/agar.png" alt=""></a></li>
			<li><a href=""><img src="images/partners/aiga.png" alt=""></a></li>
			<li><a href=""><img src="images/partners/creative-mornings.png" alt=""></a></li>
			<li><a href=""><img src="images/partners/girl-develop-it.png" alt=""></a></li>
			<li><a href=""><img src="images/partners/kind.png" alt=""></a></li>
		</ul>
	</div>
</section>