---
title: Cincinnati Design Week 2015 | September 28 - October 2 | Presented by AIGA Cincinnati and AGAR
---

<section>
	<img src="images/cincy_design_week_2015.jpg" alt="">
	<p class="leadin">Home to some of the world's best design agencies and schools, Cincinnati has placed itself in the forefront of global design. The wealth of resources and talent is unparalleled in the United States. Cincinnati Design Week is a multiple-day event made up of workshops, panel discussions, fundraisers and, of course, great parties.</p>
</section>